<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>

<p>
  <strong>Game:</strong>
  <%= @comment.game.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', games_path %>
