<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @article.user.email %>
</p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
  <%= format_date(@article.created_at) %>
</p>

<p>
  <strong>Content:</strong>
  <%= @article.content %>
</p>

<% if user_signed_in? and (is_admin(current_user) or @article.user_id == current_user.id) %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<% end %>
<%= link_to 'Back', articles_path %>
