<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @configuration.user_id %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @configuration.cpu_id %>
</p>

<p>
  <strong>Gpu:</strong>
  <%= @configuration.gpu_id %>
</p>

<p>
  <strong>Ram:</strong>
  <%= @configuration.ram %>
</p>

<%= link_to 'Edit', edit_configuration_path(@configuration) %> |
<%= link_to 'Back', configurations_path %>
