<p id="notice"><%= notice %></p>

<h1>Gpus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Ram</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gpus.each do |gpu| %>
      <tr>
        <td><%= gpu.name %></td>
        <td><%= gpu.ram %></td>
        <td><%= link_to 'Show', gpu %></td>
        <td><%= link_to 'Edit', edit_gpu_path(gpu) %></td>
        <td><%= link_to 'Destroy', gpu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gpu', new_gpu_path %>
