<!DOCTYPE html>
<html>
  <head>
    <title>GamesShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <tr>
        <td><%= link_to 'Games', games_path %></td>
        <td><%= link_to 'Articles', articles_path %></td>
        <% if user_signed_in? %>
          <% if is_admin(current_user) %>
            <td><%= link_to 'Cpus', cpus_path %></td>
            <td><%= link_to 'Gpus', gpus_path %></td>
            <td><%= link_to 'Genres', genres_path %></td>
            <td><%= link_to 'Orders', orders_path %></td>
            <td><%= link_to 'Studios', studios_path %></td>
            <td><%= link_to 'Users', users_path %></td>
          <% end %>
          <td><%= link_to 'My profile', current_user %></td>
          <td><%= link_to "Logout", destroy_user_session_path, method: :delete %></td>
        <% else %>
          <td><%= link_to "Login", new_user_session_path %></td>
          <td><%= link_to "Register", user_registration_path %></td>
        <% end %>
        
      </tr>
    <%= yield %>
  </body>
</html>
